* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calcBody {
    height: 650px;
    width: 630px;
    background-color: gray;
    border-radius: 15px;
}

